{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": [
      "./packages/core/src/tsconfig.json",
      "./packages/mithril/src/tsconfig.json",
      "./packages/react/src/tsconfig.json",
      "./packages/example/src/tsconfig.json"
    ]
  },
  "plugins": ["@typescript-eslint", "prettier", "no-null", "functional"],
  "extends": [
    "@react-native-community",
    "standard-with-typescript",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "prettier",
    "prettier/@typescript-eslint",
    "prettier/standard",
    "prettier/react",
    "plugin:functional/external-recommended",
    "plugin:functional/recommended"
  ],
  "rules": {
    "no-param-reassign": "error",
    "no-shadow": "error",
    "prettier/prettier": "warn",
    "no-null/no-null": "error",
    "@typescript-eslint/ban-types": [
      "error",
      {
        "types": {
          "null": null
        }
      }
    ],
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/no-non-null-assertion": "error",
    "@typescript-eslint/ban-ts-comment": "error",
    "@typescript-eslint/switch-exhaustiveness-check": "error",
    "@typescript-eslint/consistent-type-definitions": ["error", "type"],
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/space-before-function-paren": ["warn", "never"],
    "functional/functional-parameters": "off",
    "functional/no-conditional-statement": "off",
    "functional/no-expression-statement": [
      "error",
      {
        "ignorePattern": "^(assert|(describe|test|expect|console)[^\\w])"
      }
    ]
  },
  "settings": {
    "react": {
      "version": "16.11.0"
    }
  }
}
